################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program.cs/.vs/Program.cs/v15/Server/sqlite3
