################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/About_Me_Quiz/.vs/About_Me_Quiz/v15
